<p id="notice"><%= notice %></p>

<h1>Listing Figures</h1>

<%= form_tag figures_path, method: 'get', id: 'figures_search' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
  </p>
<% end %>

<table class="flat-table container">
  <thead>
    <tr class="row">
      <th class="col-md-3">Character <span class="glyphicon glyphicon-triangle-top"></span></th>
      <th class="col-md-3">Name</th>
      <th class="col-md-3">Release date</th>
      <th class="col-md-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @figures.each do |figure| %>
      <tr class="row">
        <td class="col-md-3"><%= Character.find(figure.character_id).name %></td>
        <td class="col-md-3"><%= figure.name %></td>
        <td class="col-md-3"><%= figure.release_date %></td>
        <td class="col-md-3">
          <div class="row">
            <span class="col-md-4"><%= link_to 'Show', figure %></span>
            <span class="col-md-4"><%= link_to 'Edit', edit_figure_path(figure) %></span>
            <span class="col-md-4 destroy"><%= link_to 'Destroy', figure, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Figure', new_figure_path %>
