<p id="notice"><%= notice %></p>

<h1>Listing Figures</h1>

<%= form_tag figures_path, method: 'get', id: 'figures_search' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
  </p>
<% end %>

<table class="flat-table container">
  <thead>
    <tr class="row">
      <% $figure_headers.each do |header| %>
        <th class="col-md-3"><%= sortable header %>
          <div class="sorting-icons-container">
          </div>
        </th>
      <% end %>
      <th class="col-md-3"></th>
    </tr>
  </thead>

  <tbody id='figures-table'>
    <%= render partial: 'figures_content_table', locals: {figures: @figures} %>
  </tbody>
</table>

<br>

<%= link_to 'New Figure', new_figure_path %>
